body {
  background-image: url("https://i.imgur.com/ciPJv6g.png");
  font-family: "starjedi";
  /* background-image:url("https://media.giphy.com/media/xUPGcfzaX9hFFQJYre/giphy.gif"); */
}
h1 {
  color: yellow;
  text-align: center;
  text-shadow: 5px -5px green;
  margin-top: 2px;
  margin-bottom: 2px;
}
h2 {
  color: yellow;
  text-align: center;
  text-shadow: 5px -5px green;
}
p {
  color: yellow;
  text-align: center;
  font-size: 24px;
  margin: 1px 1px;
}

#images {
  border-bottom-style: double;
  height: 100px;
  position: relative;
  /* display: flex;
  justify-content:space-between; */
}
#masterJedi {
  height: 100px;
  width: 100px;
  margin-left: 0%;
}
#trainingJedi {
  height: 100px;
  width: 100px;
  margin-left: 0%;
}
#padawan {
  height: 100px;
  width: 100px;
  margin-left: 0%;
}
#myProgress {
  height: 10px;
  background-color: yellow;
  border-style: groove;
}
#myBar {
  width: 0%;
  background-color: lightgreen;
  height: 10px;
}
#difficulty {
  height: 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.difficulty {
  display: flex;
  justify-content: center;
}
#startGame, #contTraining {
  width: 75%;
  margin: auto;
  font-size: 20px;
  height: 30px;
  text-align: center;
  line-height: 10px;
  font-family: "starjedi";
  border-radius: 25%;
  border-width: 5px;
  border-color: yellow;
  background-color: darkgreen;
}
#question {
  height: 30px;
  display: flex;
  justify-content: center;
}
.answer {
  width: 25%;
  font-size: 20px;
  display: list-item;
  margin: auto;
  font-family: "starjedi";
  border-radius: 25%;
  border-width: 5px;
  border-color: yellow;
  background-color: darkgreen;
}
#picutre {
  display: flex;
  justify-content:center;
}
#starwarscharacter {
  height: 150px;
  width: 150px;
}
#buttons {
  height: 90px;
}
#text {
  margin-left: 25%;
  width: 50%;
}
.hidden {
  display: none;
}
.gifs {
  height: 250px;
  width: 300px;
  margin-top: -250px;
}
